.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TodoItem:not(:first-child) {
  margin-top: 10px;
}
.TodoItem input {
  transform: scale(1.2);
}
.TodoItem label {
  margin-left: 5px;
  margin-right: auto;
  font-size: 1.5em;
}
.TodoItem,
.TodoItem input,
.TodoItem label {
  cursor: pointer;
}
.TodoItem-place {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #f0d3ca;
  display: block;
  margin-left: 40px;
  background-color: #fbf7f6;
}