.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FEF5DD;
}
.App h1 {
  margin-top: -5em;
}
.App h1,
.App h2 {
  color: #511c0f;
}
